/**
 * Ini dimuat sebagai gawai Twinkle.
 * Sebelum inti Twinkle dimuat, ini menambahkan ruang yang dimana TW akan ditempatkan
 * Kulit Vector, jadi bar atas tidak "lompat".
 */
.client-js > body.skin-vector:not(.ns-special) #p-cactions,
.client-js > body.skin-vector.mw-special-Block #p-cactions,
.client-js > body.skin-vector.mw-special-Contributions #p-cactions,
.client-js > body.skin-vector.mw-special-IPContributions #p-cactions,
.client-js > body.skin-vector.mw-special-DeletedContributions #p-cactions,
.client-js > body.skin-vector.mw-special-Prefixindex #p-cactions {
	margin-right: 3.24em;
}
